# Ignore WordPress core files
/wp-admin/
/wp-includes/
/wp-config.php

# Ignore temporary and log files
*.log
*.tmp
*.swp

# Ignore sensitive configuration files
.env
dump.sql
dump_*.sql

# Do not ignore wp-content/uploads/
# Allow wp-content/uploads/ to be tracked

# Ignore unnecessary files in wp-content
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/cache/
wp-content/upgrade/
wp-content/plugins/hello.php

# Ignore operating system and editor-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Ignore Node.js files if present
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Composer files if present
/vendor/
composer.lock
